@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faebe1;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #faebe1;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background-color: #faebe1;
  /* accent color #D98B44 */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
